* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER STYLES */
.header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

/* HERO STYLES */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: left;
  height: 300px;
}

.hero h1 {
  color: #e5e7eb;
  font-size: 48px;
}

.hero-btn {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 16px;
  border: none;
  padding: 5px 20px;
  border-radius: 8px;
  margin-top: 10px;
}

.left {
  width: 50%;
}

.right {
  background-color: gray;
  padding: 70px;
}

/* INFO SECTION STYLES */
.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

h2 {
  text-align: center;
  margin: 40px 0;
}

.card {
  text-align: center;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  /* margin: 0 auto; */
}

.card-square {
  border: 5px solid #3882F6;
  border-radius: 15px;
  width: 160px;
  height: 160px;
}